body{
width:210mm;
heigth:297mm;
/*font-family:Dotum,SimSun;   */
font-family: FreeSans,AR PL KaitiM GB;
font-size:11px;
}

.pagebreak{
	page-break-after: always;
}

.notpagebreak{
	page-break-inside: avoid;
}

table,th,td{
border:solid 1px black;
border-collapse: collapse;
padding:3px;
flex: 1;}

table{
width:100%;}

td{
width:50%;}