body{
width:210mm;
text-align:center;
heigth:297mm;
font-family:tahoma;}


div{
width:25%;
float:left;}

p{
font-size:16px;
margin:0px;}

.long{
font-size:16px;}


img{
width:47mm;};



