body{
width:421mm;
height:297mm;
text-align:center;
font-family:tahoma;
-webkit-print-color-adjust:exact;}

#logo{
width:33.33%;}

h1{
background-color:#F46212;
color:#ffffff;
font-size:40px;}

div{
background-color:#F12356;
width:33.3%;
float:left;
text-align:left;}

.picture{
width:50%;
float:left;
text-align:left;}

.info{
width:50%;
float:left;
text-align:left;}

.info p {
text-align:left;}


p{
font-size:20px;
margin:0px;
text-align:center;}

.long{
font-size:18px;}


.unseen{
visibility:hidden;}


.sepline{
width:100%;
height:80px;
color:#F46212;}

img{
width:99%;
}

#advisor{
position:relative;
left:100px;
top:-160px;}


