body{
width:800mm;
height:1200mm;
text-align:center;
font-family:WenQuanYi Zen Hei;}

#logo{
width:33.33%;}

h1{
width:100%;
background-color:#F46212;
color:#ffffff;
font-size:40px;}

h2{
background-color:#F46212;
color:#ffffff;
font-size:40px;
text-align:center;}

.sepline{
width:100%;
}

div{
width:10%;
float:left;
text-align:left;}

.picture{
width:100%;
float:left;
text-align:left;}



#r{
position:relative;
left:50%;}
#rr{
margin-left:-50%;}



#s{
position:relative;
left:40%;}
#ss{
margin-left:-50%;}


#p{
position:relative;
left:50%;}
#pp{
margin-left:-50%;}


p{
font-size:20px;
margin:0px;
text-align:center;}

.long{
font-size:18px;}


.unseen{
visibility:hidden;
width:10%;}

.unseen2{
visibility:hidden;
width:5%;}

img{
width:99%;
}


.thai{
font-family:tahoma;}

.pali{
font-family:Z-PKU Unicode;}
