{% extends 'base.html' %}
    <h2>{% block documentname %}{{ add }}{% endblock %}</h2>
{% block divmain %}
 <table class="table table-bordered"><tr><th>Locker NO.</th><th>Key Total</th><th>In Box</th><th>Using</th><th>User(s)</th><th>Comment</th></tr>
<tr><td>L-01</td><td>2</td><td>1</td><td>1</td><td>Phra_Elamale_Sugatharathana</td><td>His key keep in box now for one month</td></tr>
<tr><td>L-02</td><td>3</td><td>2</td><td>1</td><td>Phra_Suriya_Ṭhitakicco</td><td></td></tr>
<tr><td>L-03</td><td>3</td><td>3</td><td>0</td><td></td><td></td></tr>
<tr><td>L-04</td><td>2</td><td>1</td><td>1</td><td>Phra_Preecha_Ñāṇasotthiko</td><td></td></tr>
<tr><td>L-05</td><td>2</td><td>1</td><td>1</td><td>Phra_Ou_Qixing_Kovido</td><td></td></tr>
<tr><td>L-06</td><td>2</td><td>1</td><td>1</td><td>Phra_Issarapap_Yasindho</td><td></td></tr>
<tr><td>L-07</td><td>2</td><td>1</td><td>1</td><td>Phra_Ruji_Puṇṇacando</td><td></td></tr>
<tr><td>L-08</td><td>2</td><td>1</td><td>1</td><td>Phra_William_Tejākaro</td><td></td></tr>
<tr><td>L-09</td><td>2</td><td>1</td><td>1</td><td>Phra_Wee_Lep_Pavijjo</td><td></td></tr>
<tr><td>L-10</td><td>3</td><td>2</td><td>1</td><td>Phra_Leki_Sangey_Devo_Dhanasabho</td><td></td></tr>
<tr><td>L-11</td><td>3</td><td>3</td><td>0</td><td></td><td></td></tr>
<tr><td>L-12</td><td>3</td><td>2</td><td>1</td><td>Phra_Prapun_Bhaddakicco</td><td></td></tr>
<tr><td>L-13</td><td>3</td><td>3</td><td>0</td><td></td><td>Phra_Jakree's staff inside</td></tr>
<tr><td>L-14</td><td>3</td><td>3</td><td>0</td><td></td><td></td></tr>
<tr><td>L-15</td><td>3</td><td>2</td><td>1</td><td>IT (Phra_Preecha_Ñāṇasotthiko)</td><td>Phra_Preecha Change 14/15 Position</td></tr>
<tr><td>L-16</td><td>4</td><td>3</td><td>1</td><td>Storage (Phra_Suriya_Ṭhitakicco)</td><td></td></tr>
<tr><td>L-17</td><td>4</td><td>3</td><td>1</td><td>Storage (Phra_Suriya_Ṭhitakicco)</td><td></td></tr>
<tr><td>L-18</td><td>2</td><td>2</td><td>0</td><td></td><td></td></tr>
<tr><td>L-19</td><td>2</td><td>1</td><td>1</td><td>Phra_Shakya_Durga_Raj_Kittisakko<br/>Phra_Saroth Ley_Nāgapañño</td><td></td></tr>
<tr><td>L-20</td><td>2</td><td>1</td><td>1</td><td>Phra_Daniel_Lurie__Dhammarako<br/>Phra_Lai_Chongrong_Satindharo</td><td></td></tr>
<tr><td>L-21</td><td>3</td><td>2</td><td>1</td><td>Phra_Li Baoyong_Ñāṇindo<br/>Phra_Tan_Tengyew_Pabhāsaro</td><td></td></tr>
<tr><td>L-22</td><td>2</td><td>1</td><td>1</td><td>Phra_Yeung_Siukei Ñānuttamo<br/>Phra_Watanabe_Vāracitto</td><td></td></tr>
<tr><td>L-23</td><td>2</td><td>1</td><td>1</td><td>Phra_Visky_Coraṇasīlo<br/>Phra_Thein_win_Au_Kantasubho</td><td></td></tr>
<tr><td>L-24</td><td>3</td><td>2</td><td>1</td><td>Phra_Upendra_Manapo</td><td></td></tr>
<tr><td>L-25</td><td>2</td><td>1</td><td>1</td><td>Phra_Wei_Feihu_Adhidhammo<br/>Phra_Hao_Botang_Manindo</td><td></td></tr>
<tr><td>L-26</td><td>3</td><td>3</td><td>0</td><td></td><td></td></tr>
<tr><td>L-27</td><td>2</td><td>2</td><td>0</td><td></td><td></td></tr>
<tr><td>L-28</td><td>3</td><td>3</td><td>0</td><td></td><td></td></tr>
<tr><td>L-29</td><td>3</td><td>3</td><td>0</td><td></td><td></td></tr>
<tr><td>L-30</td><td>2</td><td>2</td><td>0</td><td></td><td></td></tr>
<tr><td>L-31</td><td>2</td><td>1</td><td>1</td><td>Pana (Phra_Elamale_Sugatharathana to Lp Leki)</td><td></td></tr>
<tr><td>L-32</td><td>2</td><td>1</td><td>1</td><td>Pana (Phra_Elamale_Sugatharathana to Lp Leki)</td><td></td></tr>
<tr><td>L-33</td><td>2</td><td>1</td><td>1</td><td>Pana (Phra_Elamale_Sugatharathana to Lp Leki)</td><td></td></tr>
<tr><td>L-34</td><td>2</td><td>2</td><td>0</td><td>Medicine</td><td></td></tr>
<tr><td>L-35</td><td>2</td><td>2</td><td>0</td><td>Medicine</td><td></td></tr>
<tr><td>L-36</td><td>2</td><td>2</td><td>0</td><td>Medicine</td><td></td></tr>
<tr><td>L-37</td><td>3</td><td>3</td><td>0</td><td></td><td>C01</td></tr>
<tr><td>L-38</td><td>2</td><td>2</td><td>0</td><td></td><td>C02</td></tr>
<tr><td>L-39</td><td>2</td><td>2</td><td>0</td><td></td><td>C03</td></tr>
<tr><td>L-40</td><td>2</td><td>2</td><td>0</td><td></td><td>C04</td></tr>
<tr><td>L-41</td><td>3</td><td>3</td><td>0</td><td></td><td>C05</td></tr>
<tr><td>L-42</td><td>3</td><td>3</td><td>0</td><td></td><td>C06</td></tr>
<tr><td>L-43</td><td>3</td><td>3</td><td>0</td><td></td><td>C07</td></tr>
<tr><td>L-44</td><td>2</td><td>2</td><td>0</td><td></td><td>C08</td></tr>
<tr><td>L-45</td><td>3</td><td>3</td><td>0</td><td></td><td>C09</td></tr>
<tr><td>L-46</td><td class="text-error">1</td><td class="text-error">0</td><td>1</td><td>Phra_Narongchai_Ṭhānajayo</td><td class="text-error">Still no copy key</td></tr>
<tr><td>L-47</td><td>3</td><td>2</td><td>1</td><td>Phra_Aekarin_Abhijāto</td><td>His key keep in box now</td></tr>
<tr><td>L-48</td><td>3</td><td>3</td><td>0</td><td></td><td></td></tr>
<tr><td>L-49</td><td>2</td><td>1</td><td>1</td><td>Phra_Kitipong_Kittipiyo</td><td></td></tr>
<tr><td>L-50</td><td>2</td><td>1</td><td>1</td><td>Phra_Ruji</td></td><td>Phra_Ruji use for passports</td></tr>
<tr><td>L-51</td><td>3</td><td>3</td><td>0</td><td></td><td></td></tr>
<tr><td>L-52</td><td>2</td><td>2</td><td>0</td><td></td><td></td></tr>
<tr><td>L-53</td><td>2</td><td>2</td><td>0</td><td></td><td></td></tr>
<tr><td>L-54</td><td>2</td><td>2</td><td>0</td><td></td><td></td></tr>
<tr><td>L-55</td><td>2</td><td>2</td><td>0</td><td></td><td>B01 2Floor</td></tr>
<tr><td>L-56</td><td>2</td><td>2</td><td>0</td><td></td><td>B02 2Floor</td></tr>
<tr><td>L-57</td><td>3</td><td>3</td><td>0</td><td></td><td>B03 2Floor</td></tr>
<tr><td>L-58</td><td>3</td><td>3</td><td>0</td><td></td><td>B04 2Floor</td></tr>
<tr><td>L-59</td><td>3</td><td>3</td><td>0</td><td></td><td>B05 2Floor</td></tr>
<tr><td>L-60</td><td class="text-error">NO key_CC0093</td><td class="text-error">0</td><td>0</td><td></td><td>B06 2Floor</td></tr>
<tr><td>L-61</td><td>3</td><td>3</td><td>0</td><td></td><td>B07 2Floor</td></tr>
<tr><td>L-62</td><td>3</td><td>3</td><td>0</td><td></td><td>B08 2Floor</td></tr>
<tr><td>L-63</td><td>3</td><td>3</td><td>0</td><td></td><td>B09 2Floor</td></tr>
</table>
<h3> (2013-05-28 update)</h3>
{% endblock %}



