
{% extends 'base.html' %}
{% block title %}My GTD Method{% endblock %}

{% block page %}

<div class="artical">

<p>参考 GTD ( Get Thing Down 任务完成法）的 43 个文件夹的方法以及事件驱动的理念，我改进了一个简易版的个人时间管理方法：</p>

<p>1.准备一叠 33 张白纸，大小为 A4 纸的四分之一(如果任务多可用 A4 大小的纸）。</p>

<p>2.在其中一张纸画上一个十字交叉线条，另一张纸画上一个 O 型圆环。</p>

<p>3.将画 O 型圆环的纸放在最下面， 画十字交叉线的纸在倒数第二，然后放上剩其它 31 张白纸。用小夹子将所有 33 张纸夹住。</p>

<p>这样简易版个人时间管理文件夹就完全做好了，下面是使用方法：</p>

<p>1.在首页纸上写上要完成事件与任务，如 GTD 的方法一样，尽可能的写所有要做到事情，在右下角标注当天日期。</p>

<p>2.检查这些记录， 2 分钟内可以完成的就立刻完成，手头可以做的就立刻做，需要条件的则标明条件，不能做的则将之标记挂起，总之标好每一个任务的处理方法。每一个任务完成当时应划勾。</p>

<p>3.第二天开始工作前，检查头一天没有完成的任务，抄写到一张新纸上，在旧纸的背面写上昨天自己的收获或灵感、想法、经验等，然后在新纸写上今天新搜集的任务，以及随机得到的新任务，同样标好每一个任务的处理方法，在右下角标注当天日期。</p>

<p>4.将旧纸放到画 O 型圆环纸的上面，将新纸放在最上面，用夹子将所有 33 张纸片夹好。</p>

<p>这样新的一天又开始了，每一个月换一叠新纸（ 33 张），当需要回顾自己的工作的时候，只要从叠纸的后面往前翻，就可以复习这一个月自己所收获、吸收的知识或灵感；而从前往后翻则可以回顾自己这一个月所完程的事情，还可以看到某些任务跨越了多少天（因为每天都有抄录前天没有完成的任务）。也可以在一个月的 GTD 后，将背面的心得输入电脑，纸质的可以不要，以方便保存和分享。
(也可在最后加上一张纸，用来记录需要等待特别条件来完成的任务，这样就不需要每天抄一遍那些需要特别调校而未完成的任务，如当资金够时购买某物等）。</p>

<p>我用起来很方便，对理清思路催促自己完成工作很有帮助，现在简单说明如上供有兴趣的朋友参考改进。</p>
  
</div>


{% endblock %}



