{% extends 'base.html' %}

{% block css %}
static/xx
{% endblock %}

{% block body %}
<img id="logo" src="static/logo.png"/>
<h1>INTERNATIONAL DHAMMADAYADA ORDINATION PROGRAM 2013 RAIN RETREAT</h1>


<div class="div" id="r">
<div class="picture" id="rr">
<img src="static/Phra_Ronnapob_Jotilabho.png" />
<p>Phra Ronnapob</p>
<p class="pali">Jotilabho</p>
<p class="thai"></p>
</div>
</div>


                                 
<div class="sepline"><h2>HEAD TEACHING MONKS</h2></div>





<div class="div" id="s">
<div class="picture" id="ss">
<img src="static/Phra Sirimomgkhol Sirimongkalo.png" />
<p>Phra Sirimomgkhol</p>
<p class="pali">Sirimongkalo</p>
<p class="thai"></p>
</div>
</div>






<div class="div" id="p">
<div class="picture" id="pp">
<img src="static/Phra Pisit Jittasutdho.png" />
<p>Phra Pisit</p>
<p class="pali"> Jittasutdho</p>
<p class="thai"></p>
</div>
</div>  




<div class="sepline"><h2>THEACHING MONKS</h2></div>


<div class="unseen2">
<div class="picture">
<img src="" />
<p>Phra</p>
<p class="pali"></p>
<p class="thai"></p>
</div>
</div>  




<div class="div">
<div class="picture">
<img src="static/Phra_Aekarin.png" />
<p>Phra Aekarin</p>
<p class="pali">Abhijāto</p>
<p class="thai">พระเอกรินร์ อภิชาโต</p>
</div>
</div>  

<div class="div">
<div class="picture">
<img src="static/Phra_Narongchai.png" />
<p>Phra Narongchai</p>
<p class="pali">Ṭhānajayo</p>
<p class="thai">พระณรงค์ชัย ฐานชโย</p>
</div>
</div>  




<div class="div">
<div class="picture">
<img src="static/Phra Amnat Peetichayo.png" />
<p>Phra Amnat</p>
<p class="pali">Peetichayo</p>
<p class="thai">พระ อำนาจ ปีติชโย</p>
</div>
</div>






<div class="div">
<div class="picture">
<img src="static/Phra Samat Govito.png" />
<p>Phra Samat</p>
<p class="pali">Govito</p>
<p class="thai"></p>
</div>
</div>



<div class="div">
<div class="picture">
<img src="static/Phra_Ruben.png" />
<p>Phra Ruben</p>
<p class="pali">Visālo</p>
<p class="thai">พระรูเบน วิสาโล</p>
</div>
</div>  



<div class="div">
<div class="picture">
<img src="static/Phra_Elamale.png" />
<p>Phra Elamale</p>
<p class="pali">Sugatharathana</p>
<p class="thai">พระเอลมาเล สงฺฆรตฺน</p>
</div>
</div>  







<div class="div">
<div class="picture">
<img src="static/Phra Thai Oo.png" />
<p>Phra Thai Oo</p>
<p class="pali">Khemindo</p>
<p class="thai">พระ โทอู เขมินฺโท</p>
</div>
</div>  




<div class="div">
<div class="picture">
<img src="static/Phra_Kitipong.png" />
<p>Phra Kitipong</p>
<p class="pali">Kittipiyo</p>
<p class="thai">พระกิิติพงษ์ กิตตฺติปิโย</p>
</div>
</div>  




<div class="div">
<div class="picture">
<img src="static/Phra_William.png" />
<p>Phra William</p>
<p class="pali">Tejākaro</p>
<p class="thai">พระวิลเลียม เตชากโร</p>
</div>
</div>  


<div class="sepline"><h2>STAFF</h2></div>

<div class="unseen">
<div class="picture">
<img src="" />
<p>Phra Pisit</p>
<p class="pali"></p>
<p class="thai"></p>
</div>
</div>  

<div class="unseen">
<div class="picture">
<img src="" />
<p>Phra Pisit</p>
<p class="pali"></p>
<p class="thai"></p>
</div>
</div>  

<div class="unseen2">
<div class="picture">
<img src="" />
<p>Phra Pisit</p>
<p class="pali"></p>
<p class="thai"></p>
</div>
</div>  


<div>
<div class="picture">
<img src="static/Phra_Suriya.png" />
<p>Phra Suriya</p>
<p class="pali">Ṭhitakicco</p>
<p class="thai">พระสุริยา ฐิตกิจฺโจ</p>
</div>
</div>







<div>
<div class="picture">
<img src="static/Phra_Preecha.png" />
<p>Phra Preecha</p>
<p class="pali">Ñāṇasotthiko</p>
<p class="thai">พระปรีชา ญาณโสตฺถิโก</p>
</div>
</div>


<div>
<div class="picture">
<img src="static/Phra_Issarapap.png" />
<p>Phra Issarapap</p>
<p class="pali">Yasindho</p>
<p class="thai">พระอิสรภาพ ยสินฺฺโท</p>
</div>
</div>




<div>
<div class="picture">
<img src="static/Phra_Ruji.png" />
<p>Phra Ruji</p>
<p class="pali">Puṇṇacando</p>
<p class="thai">พระรุจิ ปุณฺณจนฺโท</p>
</div>
</div>




<div>
<div class="picture">
<img src="static/Phra_Wee_Lep.png" />
<p>Phra Wee Lep</p>
<p class="pali">Pavijjo</p>
<p class="thai">พระวีลีป ปวิชฺโช</p>
</div>
</div>


<div class="sepline"><h2>STAFF ASSISTANCE</h2></div>



<div>
<div class="picture">
<img src="static/Phra_Ou_Qixing.png" />
<p>Phra Ou Qixing</p>
<p class="pali">Kovido</p>
<p class="thai">พระโอ ฉีซิ่ง โกวิโท</p>
</div>
</div>


<div>
<div class="picture">
<img src="static/Phra_Chen_Gang.png" />
<p>Phra Chen Gang</p>
<p class="pali">Āsabho</p>
<p class="thai">พระเฉินกัง อาสโภ</p>
</div>
</div>









<div>
<div class="picture">
<img src="static/Phra_Shakya_Durga_Raj.png" />
<p>Phra Shakya Durga Raj</p>
<p class="pali">Kittisakko</p>
<p class="thai">พระศากฺย ดุรฺคาราช กิตฺติสกฺโก</p>
</div>
</div>

<div>
<div class="picture">
<img src="static/Phra_Leki_Sangey_Devo.png" />
<p>Phra Leki Sangey Devo</p>
<p class="pali">Dhanasabho</p>
<p class="thai">พระเล็คกี้ ธนสโภ</p>
</div>
</div>



<div>
<div class="picture">
<img src="static/Phra_Daniel_Lurie.png" />
<p>Phra Daniel Lurie</p>
<p class="pali">Dhammarko</p>
<p class="thai">พระแดเนียล เลอรี่ ธมฺมรโก</p>
</div>
</div>


<div><div class="picture">
<img src="static/Phra_Lai_Chongrong.png" />
<p>Phra Lai Chongrong</p>
<p class="pali">Satindharo</p>
<p class="thai">พระไหล ฉงหรง สตินฺธโร</p>
</div>
</div>



<div><div class="picture">
<img src="static/Phra_Li_Baoyong.png" />
<p>Phra Li Baoyong</p>
<p class="pali">Ñāṇindo</p>
<p class="thai">พระหลี่ เป๋าหย่ง ญาณินฺโท</p>
</div>
</div>

<!--<div class="sepline"></div>-->

<div><div class="picture">
<img src="static/Phra_Tan_Tengyew.png" />
<p>Phra Tan Tengyew</p>
<p class="pali">Pabhāsaro</p>
<p class="thai">พระตัน เต็งยู ปภาสโร</p>
</div>
</div>



<div><div class="picture">
<img src="static/Phra_Yeung_Siukei.png" />
<p>Phra Yeung Siukei</p>
<p class="pali">Ñānuttamo</p>
<p class="thai">พระเหยิง ซิวเกย านุตฺตโม</p>
</div>
</div>





<div><div class="picture">
<img src="static/Phra_Upendra.png" />
<p>Phra Upendra</p>
<p class="pali">Manapo</p>
<p class="thai">พระอุเปนเดราะ มนาโป</p>
</div>
</div>


<div class="sepline"><h2>DHAMMADAYADA</h2></div>



                
<div class="div">
<div class="picture">
<img src="static/Phra_Wei_Feihu.png" />
<p>Phra Wei Feihu</p>
<p class="pali">Adhidhammo</p>
<p class="thai">พระเหว่ย  เฟย หู อธิธมฺโม</p>
</div>
</div>

<div class="div">
<div class="picture">
<img src="static/Phra_Hao_Botang.png" />
<p>Phra Hao Botang</p>
<p class="pali">Manindo</p>
<p class="thai">พระฮ่าว โป๋วถัง มนินฺโท</p>
</div>
</div>


<div class="div">
<div class="picture">
<img src="static/Phra Alfredo Banon Hernandez.png" />
<p>Phra Alfredo Banon Hernandez</p>
<p class="pali">Maṅgaliko</p>
<p class="thai">พระอัลเฟรโด  บายอน เฮอนานเดส มงฺคลิโก</p>
</div>
</div>

<div class="div">
<div class="picture">
<img src="static/Phra Todd Naovaransy.png" />
<p>Phra Todd Naovaransy</p>
<p class="pali">Suddhōbhāso</p>
<p class="thai">พระทอดด์  เนาวรังสี สุทฺโธภาโส</p>
</div>
</div>



<div class="div">
<div class="picture">
<img src="static/Phra Dhiman Barua.png" />
<p>Phra Dhiman Barua</p>
<p class="pali">Aggavijjo</p>
<p class="thai">พระดิมาน  บารัว อคฺควิชฺโช</p>
</div>
</div>



<div class="div">
<div class="picture">
<img src="static/Phra Ronald Sanvoravong.png" />
<p>Phra Ronald Sanvoravong</p>
<p class="pali">Guṇavaro</p>
<p class="thai">พระโรนัลด์  แสนวรวงศ์ คุณวโร</p>
</div>
</div>




<div class="div">
<div class="picture">
<img src="static/Phra Mongsapru Chowdhury.png" />
<p>Phra Mongsapru Chowdhury</p>
<p class="pali">Manuñño</p>
<p class="thai">พระมองสาพรู  โชว์ดูรี มนุญฺโญ</p>
</div>
</div>


<div class="div">
<div class="picture">
<img src="static/Phra Bimal Assam.png" />
<p>Phra Bimal Assam</p>
<p class="pali">Ātapo</p>
<p class="thai">พระบิมาล  อัสสัม อาตโป</p>
</div>
</div>



<div class="div">
<div class="picture">
<img src="static/Phra Ching Thoyai Marma.png" />
<p>Phra Ching Thoyai Marma</p>
<p class="pali">Sēṭṭhapañño</p>
<p class="thai">พระชิง โทไย  มาร์มา เสฏฺฐปญฺโญ</p>
</div>
</div>


                                 




<div class="div">
<div class="picture">
<img src="static/Phra Tanapoom Tejapongvorachai.png" />
<p>Phra Tanapoom Tejapongvorachai</p>
<p class="pali">Surajayo</p>
<p class="thai">พระธนภูมิ  เตชะพงศ์วรชัย สุรชโย</p>
</div>
</div>
<div class="sepline"></div>


<div class="unseen">
<div class="picture">
<img src="" />
<p>Phra Pisit</p>
<p class="pali"></p>
<p class="thai"></p>
</div>
</div>  

<div class="unseen">
<div class="picture">
<img src="" />
<p>Phra Pisit</p>
<p class="pali"></p>
<p class="thai"></p>
</div>
</div>  




<div class="div">
<div class="picture">
<img src="static/Phra Sayni Barua.png" />
<p>Phra Sayni Barua</p>
<p class="pali">Attārakkho</p>
<p class="thai">พระเซย์นิ  บารัว อตฺตารกฺโข</p>
</div>
</div>



<div class="div">
<div class="picture">
<img src="static/Phra Chatchawan Chuleekeit.png" />
<p>Phra Chatchawan Chuleekeit</p>
<p class="pali">Guṇajōto</p>
<p class="thai">พระชัชวาล  ชุลีเกียรติ คุณโชโต</p>
</div>
</div>


<div class="div">
<div class="picture">
<img src="static/Phra Garison Chakma.png" />
<p>Phra Garison Chakma</p>
<p class="pali">Paguṇo</p>
<p class="thai">พระแกริสัน  ชักมา ปคุโณ</p>
</div>
</div>


 
<div class="div">
<div class="picture">
<img src="static/Phra Mongshinu Mogh.png" />
<p>Phra Mongshinu Mogh</p>
<p class="pali">Kantapañño</p>
<p class="thai">พระมองชินู  โมห์ กนฺตปญฺโญ</p>
</div>
</div>


<div class="div">
<div class="picture">
<img src="static/Phra Wong Jiun Shin.png" />
<p>Phra Wong Jiun Shin</p>
<p class="pali">Cirasubho</p>
<p class="thai">พระหวาง  จวิน  ซิง จิรสุโภ</p>
</div>
</div>


<div class="div">
<div class="picture">
<img src="static/Phra Liu Dan.png" />
<p>Phra Liu Dan</p>
<p class="pali">Dantamano</p>
<p class="thai">พระหลิว ตัน ทนฺตมโน</p>
</div>
</div>







{% endblock %}
 