<!DOCTYPE HTML>
<html lang="en">
<head>
  <link type="text/css" rel="stylesheet" href="/static/bootstrap.css" />
  <style type="text/css">

   .container{
           background-color: #ffffff;
    }
   .img-thumb{
      width:60px;}   
   </style>
</head>


  <body>
 <div class="container-fluid">
  <h1>Welcome!</h1>
  <div class="navbar navbar-inner">
    <div class="nav-collapse" style="height:auto;">
      <ul class="nav">
        <li class="active"><a hres="#">Make Sure</a></li>
      </ul>
     </div>
   </div>


 <div id="content" class="row-fluid">
   <div class="span10 main">
    <h2>{% block documentname %}{{ welcome }}{% endblock %}</h2>
    {% block divmain %}{% endblock %}
   </div>

<div class="span2 siderbar">
     <h2>Design List</h2>
     <ul class="nav nav-tabs nav-stacked">
     
      <li><a href="/poster0515">poster0515</a></li>
      <li><a href="/leena">leena</a></li>

      <li><a href="/leki">leki</a></li>
      <li><a href="/document picture model">document picture model</a></li>
      <li><a href="/orgnization2013summer">orgnization2013summer</a></li>
      <li><a href="/LockerPhoto">LockerPhoto</a></li>
      <li><a href="/BabaOrdination">BabaOrdination</a></li>
      <li><a href="/BabaOrdinationEng">BabaOrdinationEng</a></li>
      <li><a href="/BabaOrdinationF">BabaOrdinationFenxiang</a></li>
      <li><a href="/BabaOrdinationBBMM">BabaOrdinationBABAMAMA</a></li>
      <li><a href="/transp">transp</a></li>
      <li><a href="/thaialpha">thaialpha</a></li>
      <li><a href="/Forest Sangha Newsletter 1">Forest Sangha Newsletter1</a></li>
      <li><a href="/Forest Sangha Newsletter 2">Forest Sangha Newsletter2</a></li>
      <li><a href="/Forest Sangha Newsletter 3">Forest Sangha Newsletter3</a></li>
      <li><a href="/Forest Sangha Newsletter 4">Forest Sangha Newsletter4</a></li>
      <li><a href="/Forest Sangha Newsletter 5">Forest Sangha Newsletter5</a></li>
      <li><a href="/idopinfo">IDOP Info paper</a></li>
      <li><a href="/">1</a></li>
      <li><a href="/">1</a></li>
      <li><a href="/">1</a></li>
      <li><a href="/">1</a></li>
      <li><a href="/">1</a></li>
      <li><a href="/">1</a></li>
      <li><a href="/">1</a></li>
</ul>
 </div>



</div>
  </body>
</html>
