body{
width:800mm;
height:1000mm;
text-align:center;
font-family:WenQuanYi Zen Hei;}

#logo{
width:33.33%;}

h1{
width:100%;
background-color:#F46212;
color:#ffffff;
font-size:40px;}

h2{
background-color:#F46212;
color:#ffffff;
font-size:40px;
text-align:center;}

.sepline{
width:100%;
}

div{
width:20%;
float:left;
text-align:left;}

.picture{
width:50%;
float:left;
text-align:left;}

.info{
width:50%;
float:left;
text-align:left;}

.info p {
text-align:left;}


p{
font-size:20px;
margin:0px;
text-align:center;}

.long{
font-size:18px;}


.unseen{
visibility:hidden;
width:10%;}


img{
width:99%;
}

#advisor{
position:relative;
left:100px;
top:-160px;}

.thai{
font-family:tahoma;}
.pali{
font-family:unifont;}
